<p class="titulo">Examen Final IPC1- Parte2</p>
<div class="contenedor">
      <mat-card class="tarjeta" *ngIf="usuario!=null">
        <mat-card-header>
          <mat-card-title>{{usuario.results[0].name.last}}, {{usuario.results[0].name.first}}</mat-card-title>
          <mat-card-subtitle>{{usuario.results[0].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{usuario.results[0].picture.large}}">
        <mat-card-content>
          <p>Teléfono:{{usuario.results[0].phone}}</p>
          <p>Email:{{usuario.results[0].email}}</p>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="tarjeta" *ngIf="usuario!=null">
        <mat-card-header>
          <mat-card-title>{{usuario.results[1].name.last}}, {{usuario.results[1].name.first}}</mat-card-title>
          <mat-card-subtitle>{{usuario.results[1].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{usuario.results[1].picture.large}}">
        <mat-card-content>
          <p>Teléfono:{{usuario.results[1].phone}}</p>
          <p>Email:{{usuario.results[1].email}}</p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="tarjeta" *ngIf="usuario!=null">
        <mat-card-header>
          <mat-card-title>{{usuario.results[2].name.last}}, {{usuario.results[2].name.first}}</mat-card-title>
          <mat-card-subtitle>{{usuario.results[2].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{usuario.results[2].picture.large}}">
        <mat-card-content>
          <p>Teléfono:{{usuario.results[1].phone}}</p>
          <p>Email:{{usuario.results[1].email}}</p>
        </mat-card-content>
      </mat-card>
      <br>
      <br>

      <mat-card class="tarjeta" *ngIf="usuario!=null">
        <mat-card-header>
          <mat-card-title>{{usuario.results[3].name.last}}, {{usuario.results[3].name.first}}</mat-card-title>
          <mat-card-subtitle>{{usuario.results[3].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{usuario.results[3].picture.large}}">
        <mat-card-content>
          <p>Teléfono:{{usuario.results[3].phone}}</p>
          <p>Email:{{usuario.results[3].email}}</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="tarjeta" *ngIf="usuario!=null">
        <mat-card-header>
          <mat-card-title>{{usuario.results[4].name.last}}, {{usuario.results[4].name.first}}</mat-card-title>
          <mat-card-subtitle>{{usuario.results[4].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{usuario.results[4].picture.large}}">
        <mat-card-content>
          <p>Teléfono:{{usuario.results[4].phone}}</p>
          <p>Email:{{usuario.results[4].email}}</p>
        </mat-card-content>
      </mat-card>



</div>

<div class="contenedor">
  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[5].name.last}}, {{usuario.results[5].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[5].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[5].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[5].phone}}</p>
      <p>Email:{{usuario.results[5].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[6].name.last}}, {{usuario.results[2].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[6].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[6].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[6].phone}}</p>
      <p>Email:{{usuario.results[6].email}}</p>
    </mat-card-content>
  </mat-card>
  <br>
  <br>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[7].name.last}}, {{usuario.results[7].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[7].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[7].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[7].phone}}</p>
      <p>Email:{{usuario.results[7].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[8].name.last}}, {{usuario.results[8].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[8].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[8].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[8].phone}}</p>
      <p>Email:{{usuario.results[8].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[9].name.last}}, {{usuario.results[4].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[9].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[9].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[9].phone}}</p>
      <p>Email:{{usuario.results[9].email}}</p>
    </mat-card-content>
  </mat-card>

</div>

<div class="contenedor">
  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[10].name.last}}, {{usuario.results[10].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[10].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[10].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[10].phone}}</p>
      <p>Email:{{usuario.results[10].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[11].name.last}}, {{usuario.results[11].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[11].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[11].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[11].phone}}</p>
      <p>Email:{{usuario.results[11].email}}</p>
    </mat-card-content>
  </mat-card>
  <br>
  <br>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[12].name.last}}, {{usuario.results[12].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[12].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[12].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[12].phone}}</p>
      <p>Email:{{usuario.results[12].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[13].name.last}}, {{usuario.results[13].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[13].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[13].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[13].phone}}</p>
      <p>Email:{{usuario.results[13].email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tarjeta" *ngIf="usuario!=null">
    <mat-card-header>
      <mat-card-title>{{usuario.results[14].name.last}}, {{usuario.results[14].name.first}}</mat-card-title>
      <mat-card-subtitle>{{usuario.results[14].gender=='male'?'varon':'mujer'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{usuario.results[14].picture.large}}">
    <mat-card-content>
      <p>Teléfono:{{usuario.results[14].phone}}</p>
      <p>Email:{{usuario.results[14].email}}</p>
    </mat-card-content>
  </mat-card>

</div>




